div(class='p-3')
    h1 Docs
    p(class='small')
        a(href='https://github.com/' + markdownRepo + '/edit/main/' + markdownFilename target='_blank' class='link-secondary')
            i(class='fa-solid fa-arrow-up-right-from-square me-1')
            span Edit this page on GitHub
    div(class='card card-body') !{html}
